.Menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.Menu button {
  background-color: #ee6c4d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
