.App {
  max-width: 600px;
  margin: auto;
  user-select: none;
}

.App h1 {
  padding: 30px 0;
}

.App-Content {
  display: flex;
  flex-direction: column;
}

.App-Interactable {
  width: 600px;
}

.App-CameraView {
  width: 600px;
}
